/* styles for the order modal */

.order-form {
  display: flex;
  flex-direction: column;
}
.order-title {
  margin-bottom: 48px;
}
.order-form label {
  margin-bottom: 8px;
}
.order-form input,
.order-form textarea {
  background-color: var(--neutral-darkest-5);
  margin-bottom: 24px;
}
.order-form button {
}
@media (min-width: 375px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
}
